[submodule "ethzasl_brisk"]
	path = ethzasl_brisk
	url = git@github.com:ethz-asl/ethzasl_brisk.git
[submodule "aslam_cv2"]
	path = aslam_cv2
	url = git@github.com:ethz-asl/aslam_cv2.git
[submodule "gtsam_devel"]
	path = gtsam_devel
	url = git@github.com:ethz-asl/gtsam_devel.git
[submodule "tools/multiagent_mapping_test_data"]
	path = tools/multiagent_mapping_test_data
	url = git@github.com:ethz-asl/multiagent_mapping_test_data.git
[submodule "vi-algorithms/structural_descriptors"]
	path = vi-algorithms/structural_descriptors
	url = git@github.com:ethz-asl/structural_descriptors.git
